html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100dvh;
  width: 100vw;
  background-color: #fff;
  color: #333;
}

* {
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.ctabtn {
  background-color: #587752;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 38px;
  margin: 15px 0 0 0;
}


/* dark mode, turn body to dark gray */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}

#detail {
  margin: 20px;
  flex: 1;
  overflow: scroll;
  position: relative;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.loader-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 1111111111;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.template-list .template-header {
  text-align: center;
}

.template-item {
  margin: 20px;
  width: 300px;
}

.trylink {
  text-decoration: unset;
}

.template-preview-iframe {
  pointer-events: none;
}

.templates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.editor-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
